<div class="container">

  <div class="row">

    <div class="col-sm-6">

      <img [src]="userData.user.urlFoto" alt="" width="300px">

    </div>

    <div class="col-sm-6 mb-3">

      <form class="mb-3" [formGroup]="userProfile" (ngSubmit)="actualizarProfile()">

        <!-- <div class="mx-auto text-center">
          <input class="mb-3" type="file" id="urlFoto" (change)="onSelectedFile($event)" formControlName="urlFoto" >
        </div> -->

        <div class="form-floating mb-3 mt-5">
          <input type="text" formControlName="nombre" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Nombre</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" formControlName="usuario" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Nombre usuario</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" formControlName="identificacion" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Identificación</label>
        </div>

        <div class="form-floating mb-3">
          <input type="date" formControlName="fechaNacimiento" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Fecha de nacimiento</label>
        </div>

        <button type="submit"  class="btn btn w-100 text-white" style="background-color: #39a900;">Actualizar</button>

      </form>


    </div>



  </div>


</div>