<div *ngIf="userData.user.rol == 'user'" class="bg-white">
  <nav class="navbar navbar-expand-lg navbar-light bg-white navUser">
    <div class="container-fluid">
      <a id="name-project" class="navbar-brand" href="/">Inmobiliaria mis casitas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="primerItem" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="nav-enlace" class="nav-link" aria-current="page" [routerLink]="['/agregar-casa']"
              routerLinkActive="router-link-active">Casas</a>
          </li>
          <li class="nav-item">
            <a id="nav-enlace" class="nav-link" href="#">Mis casas</a>
          </li>
          <li class="nav-item">
            <a id="nav-enlace" class="nav-link" href="#">Propiedades</a>
          </li>
          <li class="nav-item">
            <a id="nav-enlace" class="nav-link" href="#">Contacto</a>
          </li>
          <li class="nav-item" *ngIf="!userLoginOn">
            <a id="registro" class="nav-link btn btn" routerLink="/register">Registrarse</a>
          </li>
          <li class="nav-item" *ngIf="!userLoginOn">
            <a id="iniciarsesion" class="nav-link btn btn" routerLink="/login">Iniciar sesión</a>
          </li>
          <li class="nav-item pointer rounded-circle" *ngIf="userLoginOn">
            <a [routerLink]="['/profile']">
              <img class="p-2 pointer" [src]="userData.user.urlFoto" alt="" width="50px" style="cursor:pointer;">
            </a>
          </li>
          <li class="nav-item" *ngIf="userLoginOn">
            <a id="iniciarsesion" (click)="cerrarSesion" class="nav-link btn btn" routerLink="/login">Cerrar sesión</a>
          </li>
          <li class="nav-item" *ngIf="userLoginOn">
            <a id="nav-enlace" (click)="cerrarSesion()" class="nav-link btn btn" routerLink="/chat">Chat</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted text-color user">
    <section class="mt-3">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-5">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4 text-color mt-5">
              <i class="fas fa-gem me-3"></i>Mis casitas
            </h6>
            <p class="text-color">
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-color">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-color text-color mt-3">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset text-color text-color">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-color text-color">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-color text-color">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-color">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-color">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-color mt-3">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset text-color">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-color">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-color">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-color">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-color">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 mt-3">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4 text-color">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Mis Casitas</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>



<div *ngIf="userData.user.rol === 'admin'" class="admin bg-white">
  <nav class="navbar navbar-expand-lg navbar-light bg-white navAdmin">
    <div class="container-fluid navAdmin">
      <a id="name-project" class="navbar-brand" href="/">Inmobiliaria mis casitas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="primerItem" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="nav-enlace" class="nav-link" aria-current="page" [routerLink]="['/agregar-casa']"
              routerLinkActive="router-link-active">Casas</a>
          </li>
          <li class="nav-item">
            <a id="nav-enlace" class="nav-link" href="#">Mis casas</a>
          </li>
          <li class="nav-item">
            <a id="nav-enlace" class="nav-link" href="#">Propiedades</a>
          </li>
          <li class="nav-item">
            <a id="nav-enlace" class="nav-link" href="#">Contacto</a>
          </li>
          <li class="nav-item" *ngIf="!userLoginOn">
            <a id="registro-admin" class="nav-link btn btn" routerLink="/register">Registrarse</a>
          </li>
          <li class="nav-item" *ngIf="!userLoginOn">
            <a id="iniciarsesion-admin" class="nav-link btn btn" routerLink="/login">Iniciar sesión</a>
          </li>
          <li class="nav-item pointer rounded-circle" *ngIf="userLoginOn">
            <a [routerLink]="['/profile']">
              <img class="p-2 pointer" [src]="userData.user.urlFoto" alt="" width="50px" style="cursor:pointer;">
            </a>
          </li>
          <li class="nav-item" *ngIf="userLoginOn">
            <a id="iniciarsesion" (click)="cerrarSesion" class="nav-link btn btn" routerLink="/login">Cerrar sesión</a>
          </li>
          <li class="nav-item" *ngIf="userLoginOn">
            <a id="nav-enlace" (click)="cerrarSesion()" class="nav-link btn btn" href="#">Chat</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  
  <footer class="text-center text-lg-start text-muted text-color-admin navAdmin">
   
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

     
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      
    </section>
    

   
    <section class="">
      <div class="container text-center text-md-start mt-5">
       
        <div class="row mt-3">
          
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
           
            <h6 class="text-uppercase fw-bold mb-4 text-color-admin">
              <i class="fas fa-gem me-3"></i>Mis casitas
            </h6>
            <p class="text-color-admin">
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-color-admin">
           
            <h6 class="text-uppercase fw-bold mb-4 text-color text-color-admin">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset text-color text-color-admin">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-color text-color-admin">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-color text-color-admin">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-color">Laravel</a>
            </p>
          </div>
         
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-color-admin">
            
            <h6 class="text-uppercase fw-bold mb-4 text-color-admin">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset text-color-admin">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-color-admin">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-color-admin">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-color-admin">Help</a>
            </p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-color-admin">
        
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
      
        </div>

      </div>
    </section>

    <div class="text-center p-4 text-color-admin">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Mis Casitas</a>
    </div>
  </footer>

</div> 