<div class="contenedor w-100">
  <img class="w-100 img-fluid" src="./assets/index.jpg" alt="" >
  <div class="texto h3 text-color">Encuentra tu lugar ideal</div>
</div>


<div class="container">
  <p class="h2 text-color">Categorias</p>
  <div class="row">
    <div class="col-sm-6">
      <div>
        <h4 [routerLink]="['/cabañas']" class="text-color">Cabañas</h4>
        <img [routerLink]="['/cabañas']" src="./assets/1.jpg" alt="" width="100%">
      </div>
      <div>
        <h4 [routerLink]="['/casas-familiares']" class="text-color">Casa familiar</h4>
        <img [routerLink]="['/casas-familiares']" src="./assets/3.jpg" alt="" width="100%">
      </div>

    </div>
    <div class="col-sm-6">
      <div>
        <h4 [routerLink]="['/casas-ecologicas']" class="text-color">Casa ecologica</h4>
        <img [routerLink]="['/casas-ecologicas']" src="./assets/2.jpg" alt="" width="100%">
      </div>
      <div>
        <h4 [routerLink]="['/casas-prefabricadas']" class="text-color">Casa prefabricada</h4>
        <img [routerLink]="['/casas-prefabricadas']" src="./assets/4.jpg" alt="" width="100%">
      </div>

    </div>
  </div>
</div>


<div class="container">
  <p class="h2 text-color">Casas disponibles</p>

  <div class="row">
    <div class="col-sm-4 m-2" *ngFor="let casa of casasDisponibles">
      <div class="pointer a" [routerLink]="['/alquilar-casa/' + casa.id]" >
        <img class="pointer rounded" [src]="casa.urlFoto" alt="" width="350px" height="300px">
        <h5>Costo alquiler: {{ casa.costoAlquiler }}</h5>
        <p>Descripción: {{ casa.descricion }}</p>
      </div>
    </div>
  </div>

</div>