#name-project{
  color:white;
}

.text-color{
  color: #39a900;
}

#nav-enlace{
  color:white;
}

#primerItem
{
  margin-left:45%;
}

nav{
  background-color:#39a900 !important;
}

#registro
{
  background-color:#ffffff;
  color: #39a900;
  margin-right: 10px;
}

#iniciarsesion
{
  background-color:#ffffff;
  color: #39a900;
}


#img-inda-ex{
  position:relative;
}

span
{
  position: absolute;
  top:30%;

}
.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:rgba(255, 255, 255, 0.9);
  padding: 50px;
  border-radius: 10px;
}

.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.a{
  cursor: pointer !important;
}